 <div class="container">
        <h1>Échange de Briques LEGO</h1>
        <div class="grille">
            <!-- Liste complète des briques LEGO -->
            <div class="brique">
                <img src="./assets/brique-2x2-blanc.jpg" alt="Brique 2x2 Blanc">
                <div class="details">
                    <h3>Brique 2x2 Blanc</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.15</p>
                        <p class="couleur">Couleur: Blanc</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x2-bleu.jpg" alt="Brique 2x2 Bleu">
                <div class="details">
                    <h3>Brique 2x2 Bleu</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.15</p>
                        <p class="couleur">Couleur: Bleu</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x2-jaune.jpg" alt="Brique 2x2 Jaune">
                <div class="details">
                    <h3>Brique 2x2 Jaune</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.15</p>
                        <p class="couleur">Couleur: Jaune</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x2-noir.jpg" alt="Brique 2x2 Noir">
                <div class="details">
                    <h3>Brique 2x2 Noir</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.15</p>
                        <p class="couleur">Couleur: Noir</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x2-rouge.jpg" alt="Brique 2x2 Rouge">
                <div class="details">
                    <h3>Brique 2x2 Rouge</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.15</p>
                        <p class="couleur">Couleur: Rouge</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x4-blanc.jpg" alt="Brique 2x4 Blanc">
                <div class="details">
                    <h3>Brique 2x4 Blanc</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.27</p>
                        <p class="couleur">Couleur: Blanc</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x4-bleu.jpg" alt="Brique 2x4 Bleu">
                <div class="details">
                    <h3>Brique 2x4 Bleu</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.27</p>
                        <p class="couleur">Couleur: Bleu</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x4-jaune.jpg" alt="Brique 2x4 Jaune">
                <div class="details">
                    <h3>Brique 2x4 Jaune</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.27</p>
                        <p class="couleur">Couleur: Jaune</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-2x4-vert.jpg" alt="Brique 2x4 Vert">
                <div class="details">
                    <h3>Brique 2x4 Vert</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.27</p>
                        <p class="couleur">Couleur: Vert</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/brique-ronde-1x1-blanc.jpg" alt="Brique Ronde 1x1 Blanc">
                <div class="details">
                    <h3>Brique Ronde 1x1 Blanc</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.05</p>
                        <p class="couleur">Couleur: Blanc</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x4-bleu.jpg" alt="Plaque 2x4 Bleu">
                <div class="details">
                    <h3>Plaque 2x4 Bleu</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.20</p>
                        <p class="couleur">Couleur: Bleu</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x4-rouge.jpg" alt="Plaque 2x4 Rouge">
                <div class="details">
                    <h3>Plaque 2x4 Rouge</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.20</p>
                        <p class="couleur">Couleur: Rouge</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x4-vert.jpg" alt="Plaque 2x4 Vert">
                <div class="details">
                    <h3>Plaque 2x4 Vert</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.20</p>
                        <p class="couleur">Couleur: Vert</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x12-bleu.jpg" alt="Plaque 2x12 Bleu">
                <div class="details">
                    <h3>Plaque 2x12 Bleu</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.40</p>
                        <p class="couleur">Couleur: Bleu</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x12-noir.jpg" alt="Plaque 2x12 Noir">
                <div class="details">
                    <h3>Plaque 2x12 Noir</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.40</p>
                        <p class="couleur">Couleur: Noir</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-2x12-rouge.jpg" alt="Plaque 2x12 Rouge">
                <div class="details">
                    <h3>Plaque 2x12 Rouge</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.40</p>
                        <p class="couleur">Couleur: Rouge</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-base-32x32-noir.jpg" alt="Plaque Base 32x32 Noir">
                <div class="details">
                    <h3>Plaque Base 32x32 Noir</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 1.50</p>
                        <p class="couleur">Couleur: Noir</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/plaque-ronde-1x1-jaune.jpg" alt="Plaque Ronde 1x1 Jaune">
                <div class="details">
                    <h3>Plaque Ronde 1x1 Jaune</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.05</p>
                        <p class="couleur">Couleur: Jaune</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
            <div class="brique">
                <img src="./assets/tuile-2x2-bleu.jpg" alt="Tuile 2x2 Bleu">
                <div class="details">
                    <h3>Tuile 2x2 Bleu</h3>
                    <div class="detailsbrique">
                        <p class="valeur">Valeur: 0.18</p>
                        <p class="couleur">Couleur: Bleu</p>
                    </div>
                    <input type="number" min="0" placeholder="0">
                </div>
            </div>
        </div>
        
        <input type="text" placeholder="Entrez un nom pour l'échange" class="nomechange">
        <button id="" class="creer">Créer l'échange</button>
    </div>