<h2>&eacute;changes</h2>
        <ul class="list-group"> 
            <li class="echange">
                <p class="echange_titre">Juste du rouge</p>
                <span class="echange_nom">Christiansen, Ole Kirk</span>
                <button id="btn_verifyExchange" class="btn_voir">Voir l'&eacute;change</button>
                <button class="btn_effacer">X</button>
            </li> 
            
        </ul>
        <button id="btn-createExchange" class="btn_creer">Cr&eacute;er un &eacute;change</button>