<div class="wrapper">
    <h1>Connexion</h1>
    <form action="#" id="loginForm" method="#">
        <div class="input-box">
            <input id="input-mail" type="text" placeholder="example@gmail.com" >
            <small id="smallMail"></small>
            <i id="focus-tb" class="fa-regular fa-envelope"></i>
        </div>
        <div class="input-box">
            <input type="password" id="input-password" placeholder="mot de passe" >
            <small id="smallPassword"></small> <i id="toggleIcon" class="fa-solid fa-eye-slash"></i>
        </div>
        <button type="submit" class="btn">connexion</button>
        <small id="auth-error"></small>
        <div class="register-link">
            <p>Vous n'avez pas de compte?<a href="/api/inscription"> créer un compte</a></p>
        </div>
    </form>

</div>