 <h2>&eacute;changes</h2>
        <ul class="list-group">

            <li class="echange">
                <p class="echange_titre">Juste du rouge</p>
                <span class="echange_nom">Christiansen, Ole Kirk</span>
                <button class="btn_voir">Voir l'&eacute;change</button>
            </li>

            <li class="echange">
                <p class="echange_titre">Des briques jaunes</p>
                <span class="echange_nom">Christiansen, Ole Kirk</span>
                <button class="btn_voir">Voir l'&eacute;change</button>
            </li>

            <li class="echange">
                <p class="echange_titre">Plein de bleu</p>
                <span class="echange_nom">Christiansen, Ole Kirk</span>
                <button class="btn_voir">Voir l'&eacute;change</button>